@page "/family"
@using PracticeProject.Components

<PageTitle>Family</PageTitle>

<select @onchange="OnChange">
	<option value="@nameof(PeopleComponent)">
		@nameof(PeopleComponent)
	</option>
	<option value="@nameof(AddPersonComponent)">
		@nameof(AddPersonComponent)
	</option>
	<option value="@nameof(AddRelationComponent)">
		@nameof(AddRelationComponent)
	</option>

</select>

<br />
<br />

<DynamicComponent Type="_selectedType" />

@code {

	Type? _selectedType = typeof(PeopleComponent);

    private readonly string _namespaceComponents = "PracticeProject.Components.";

	public void OnChange(ChangeEventArgs e)
	{
		_selectedType = Type.GetType($"{_namespaceComponents}{e.Value}");
	}

}