@page "/family"
@using PracticeProject.Components

<PageTitle>Family</PageTitle>

<select @onchange="OnChange">
    <option value="@nameof(AddPersonComponent)">
        @nameof(AddPersonComponent)
    </option>
    <option value="@nameof(RelationComponent)">
        @nameof(RelationComponent)
    </option>
    <option value="@nameof(PeopleComponent)">
        @nameof(PeopleComponent)
    </option>
</select>

<br />
<br />

<DynamicComponent Type="selectedType" />

@code {
    
    Type selectedType = typeof(AddPersonComponent);

    public void OnChange(ChangeEventArgs changeEventArgs)
    {
        selectedType = Type.GetType($"PracticeProject.Components.{changeEventArgs.Value}");
    }

}