@page "/people"
@using PracticeProject.Models
@using PracticeProject.Data
@using PracticeProject.Resources
@using DataGridEditMode = Radzen.DataGridEditMode

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="8" AllowSorting="true" Data="@_persons" LoadData="@LoadPersonData" TItem="Person"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true"
                            ShowPagingSummary="@showPageSummary" PagingSummaryFormat="@pagingSummaryFormat" RowUpdate="@UpdatePerson"
                            Count="@_personCount" IsLoading="@_isPersonsLoading" EditMode="DataGridEditMode.Single" @ref="_personDataGrid">
                <Columns>
                    <RadzenDataGridColumn TItem="Person" Property="FirstName" Title="@StringResource.FirstName">
                        <EditTemplate Context="person">
                            <RadzenTextBox Style="width: 100%" @bind-Value="person.FirstName" Name="FirstName" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Property="LastName" Title="@StringResource.LastName">
                        <EditTemplate Context="person">
                            <RadzenTextBox Style="width: 100%" @bind-Value="person.LastName" Name="LastName" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Property="Age" Title="@StringResource.Age">
                        <EditTemplate Context="person">
                            <RadzenNumeric Style="width: 100%" Name="Age" @bind-Value="person.Age" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Property="Gender" Title="@StringResource.Gender">
                        <EditTemplate Context="person">
                            <RadzenDropDown @bind-Value="person.Gender" AllowClear="true" Placeholder="Select gender"
                                            Data="@_genderList" style="width: 100%;" Name="Gender" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Property="Address" Title="@StringResource.Address">
                        <EditTemplate Context="person">
                            <RadzenTextBox Style="width: 100%" @bind-Value="person.Address" Name="Address" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Property="PhoneNumber" Title="@StringResource.PhoneNumber">
                        <EditTemplate Context="person">
                            <RadzenMask Mask="********" CharacterPattern="[0-9]" Name="PhoneNumber" @bind-Value=@person.PhoneNumber Style="width: 100%" />
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                        <Template Context="person">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Click="@(args => EditPerson(person))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="person">
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="butto_green_colour" Click="@((args) => SaveRow(person))">
                            </RadzenButton>
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="rz-secondary" Click="@((args) => CancelEdit(person))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Person" Context="person" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                        <Template Context="person">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="" Click="@(args => DeletePerson(person.PersonId))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="person">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Click="@(args => DeletePerson(person.PersonId))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md">
            <RadzenDataGrid AllowFiltering="true" AllowPaging="true" PageSize="6" AllowSorting="true" Data="@_relations" LoadData="@LoadRelationData" TItem="Relation"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true"
                            ShowPagingSummary="@showPageSummary" PagingSummaryFormat="@pagingSummaryFormat"
                            Count="@_relationsCount" IsLoading="@_isRelationsLoading" EditMode="DataGridEditMode.Single" @ref="_relationDataGrid">
                <Columns>
                    <RadzenDataGridColumn TItem="Relation" Property="Person.FirstName" Title="Name">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Relation" Property="RelationType" Title="Relation Type">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Relation" Property="PersonId2" Title="Person Id 2">
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Relation" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                        <Template Context="data">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Click="@(args => EditRelation(data.RelationId))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Relation" Context="relation" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                        <Template Context="relation">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Click="@(args => DeleteRelation(relation.RelationId))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="relation">
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Click="@(args => DeleteRelation(relation.RelationId))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>

</div>
