@page "/relation"
@using PracticeProject.Data
@using PracticeProject.Models
@using PracticeProject.Resources

@inject IPersonHandler _personHandler
@inject IRelationHandler _relationHandler

<RadzenTemplateForm Data="@_newRelation" OnInvalidSubmit="@AddNewRelation">
	<div class="container-fluid">
		<div class="row">
			<h3>Person Info</h3>
			<div class="col-md-5">
				<RadzenFieldset>
					<div class="row">
						<div class="col-md-3 align-items-center d-flex">
							<RadzenLabel Text="@StringResource.Person" />
						</div>
						<div class="col-md-8">
							<RadzenDropDownDataGrid TValue="Person" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains"
													AllowFiltering="true" AllowClear="true" PageSize="10" Placeholder="Select"
													Data="@_persons" TextProperty="FirstName" ValueProperty="PersonId1" Style="width:100%">
								<Columns>
									<RadzenDropDownDataGridColumn Property="FirstName" Title="@StringResource.FirstName" />
									<RadzenDropDownDataGridColumn Property="LastName" Title="@StringResource.LastName" />
								</Columns>
							</RadzenDropDownDataGrid>
						</div>
					</div>

					<p>This person is what in relation to the other person</p>

					<div class="row">
						<div class="col-md-3 align-items-center d-flex">
							<RadzenLabel Text="@StringResource.Relation" />
						</div>
						<div class="col-md-8">
							<RadzenTextBox Style="width: 100%" Name="RelationType" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 align-items-center d-flex">
							<RadzenLabel Text="@StringResource.Person" />
						</div>
						<div class="col-md-8">
							<RadzenDropDownDataGrid TValue="Person" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains"
													AllowFiltering="true" AllowClear="true" PageSize="10" Placeholder="Select"
													Data="@_persons" TextProperty="FirstName" ValueProperty="PersonId2" Style="width:100%">
								<Columns>
									<RadzenDropDownDataGridColumn Property="FirstName" Title="@StringResource.FirstName" />
									<RadzenDropDownDataGridColumn Property="LastName" Title="@StringResource.LastName" />
								</Columns>
							</RadzenDropDownDataGrid>
						</div>
					</div>
				</RadzenFieldset>

			</div>
			<div class="row ">
				<div class="col-md-6 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
					<RadzenButton class="formButton" ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
					<RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
				</div>
			</div>
		</div>


	</div>
</RadzenTemplateForm>


